@import "tailwindcss";
@import url("https://use.typekit.net/rnl2dgg.css");
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  /* Color Palette */
  --color-orange-brown: #A06E3D;
  --color-pale-tan: #EDE1D1;
  --color-orange: #E88C2D;
  --color-burnt-orange: #CC5500;
  --color-auburn: #9a3001;
  --color-deep-blue: #344785;
  --color-bright-light-blue: #0CBFF5;
  --color-turquoise: #3697B5;
  --color-seafoam: #3AA1AB;

  /* Font Families */
  --font-baga: 'baga', sans-serif;
  --font-bc-civitas: 'bc-civitas', sans-serif;
  --font-playpen: 'playpen-sans-hebrew', sans-serif;
  --font-bufalino: 'bufalino', sans-serif;
  --font-eaves: 'mr-eaves-xl-modern', sans-serif;
  --font-eloise: 'hey-eloise', sans-serif;
  --font-elois-watercolor: 'hey-elois-watercolor', sans-serif;
  --font-swing-king: 'swing-king', sans-serif;
  --font-catseye: 'catseye', sans-serif;
  --font-chaloops: 'chaloops', sans-serif;
  --font-sweet-salty: 'sweet-and-salty', sans-serif;
  --font-boli: 'mv-boli', sans-serif;
  --font-marydale: 'marydale', sans-serif;
  --font-volina: 'volina', sans-serif;
  --font-rigatoni: 'rigatoni', sans-serif;
}