@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  /* Color Palette */
  --color-mainbg: #A06E3D;
  --color-containerbg: #EDE1D1;
  --color-orange: #E88C2D;
  --color-burntorange: #CC5500;
  --color-auburn: #9a3001;
  --color-dkblue: #344785;
  --color-lightblue: #0CBFF5;
  --color-turquoise: #3697B5;
  --color-seafoam: #3AA1AB;

  /* Font Families */
  --font-sans: 'Helvetica Neue', Arial, sans-serif;
}