
@import url("https://use.typekit.net/rnl2dgg.css");
@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  /* Color Palette */
  /*---------------*/

  /* background/dark bg text */
  --color-cream: #FDFBF7;

  /* headers */
  --color-violet: #7B44F2;

  /* primary/secondary */
  --color-azure: #2C7FB8;
  --color-lavender: #9B7EBD;

  /* accents */
  --color-coral: #FF7E67;
  --color-golden: #F4D03F;
  --color-sage: #7FB685;

  /* containers/sections */
  --color-navy: #1A2639;

  /* text/footer */
  --color-charcoal: #252326;


  /* Font Families */
  /*---------------*/

  /* headings */
  --font-baga: 'baga', sans-serif;

  /* body */
  --font-forma: "forma-djr-micro", sans-serif;

  --font-bufalino: 'bufalino', sans-serif;
  --font-eaves: 'mr-eaves-xl-modern', sans-serif;
  --font-swing-king: 'swing-king', sans-serif;
  --font-chaloops: 'chaloops', sans-serif;

  --font-poppins: 'poppins', sans-serif;
  --font-inter: 'inter-tight-variable', sans-serif;
}